<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <center>
      <a href="/">Welcome!</a>
    </center>
    </div>
    <div class="wrapper">
      <div class="side-menu">
        <ul>
          <li><a href="/signup" id="signUp">Sign In</a></li>
          <li><a href="/login" id="login">Login</a></li>
        </ul>
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/guestbookAdd">Write in the Guestbook</a></li>
      <li><a href="/read">Read the Guestbook</a></li>
    </ul>
    <ul class="bloglink">
    <h2>Enter a Blog</h2>
      <li><a href="http://chojja7.tistory.com" target="_blank">Tistory Blog</a></li>
      <li><a href="http://chojja.kro.kr" target="_blank">Naver Blog</a></li>
    </ul>
  </div>
  <div class="contents">
    <ul class="project-list">
      <li>
        <a href="http://chojja7.tistory.com" target="_blank"><img class="blogimg" src="/images/tistory.jpg"></a>
        <center><h2 class="title">Tistory Blog</h2></center>
        <p class="desc">
        2018-01-09~ ~ing<br /><b>Important Blog</b></p>
      </li>
      <li>
        <a href="http://chojja.kro.kr" target="_blank"><img class="blogimg" src="images/naver.jpg"></a>
        <center><h2 class="title">Naver Blog</h2></center>
        <p class="desc">
        2017-09-02~ ~ing</p>
      </li>
    </ul>
  </div>
  </div>
  </body>
</html>
