<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <center>
      <a href="/">Welcome!</a>
    </center>
    </div>
    <div class="wrapper">
      <div class="side-menu">
          <ul>
              <li><a href="/signup" id="signUp">Sign In</a></li>
              <li><a href="/" id="login">Login</a></li>
            </ul>
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/guestbookAdd">Write in the Guestbook</a></li>
      <li><a href="/read">Read the Guestbook</a></li>
    </ul>
    <h2>Enter a Blog</h2>
    <ul class="bloglink">
      <li><a href="http://chojja7.tistory.com" target="_blank">Tistory Blog</a></li>
      <li><a href="http://chojja.kro.kr" target="_blank">Naver Blog</a></li>
    </ul>
  </div>
  <div class="contents">
    <ul class="project-list">
      <article>
      <center><div class="profiletext" >Novice Developer</div></center><br /><br /><br />
      2001-10-07~<br>
      Living in Goyang City<br /><br /><br /><Br /><br />
      <a href="http://www.hansei.org" target="_blank"><img class="hellsei" src="/images/한세.jpg"></a><br><br />
      Hansei Cyber Security High School<br />
      Department of Hacking Security 2-2<br /><br /><br /><br /><br /><br />
      <a href="https://www.facebook.com/profile.php?id=100010832736813" target="_blank"><img id="face" src="/images/facebook.jpg" target="_blank"></a>
      <br /><br /><br /><br />Enter a Developer's Facebook<br />
    </article>
  </div>
  </div>
  </body>
</html>
